doc/2004/HUD-HMIS.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema 
	targetNamespace="http://www.hudhdx.info/Resources/Vendors/2_8/HUD_HMIS_2_8.xsd"
	xmlns:hmis="http://www.hudhdx.info/Resources/Vendors/2_8/HUD_HMIS_2_8.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:airs="http://www.hudhdx.info/Resources/Vendors/2_8/AIRS_3_0_draft5_mod.xsd"	
	elementFormDefault="qualified"
	attributeFormDefault="qualified">
	<xsd:import namespace="http://www.hudhdx.info/Resources/Vendors/2_8/AIRS_3_0_draft5_mod.xsd" schemaLocation="http://www.hudhdx.info/Resources/Vendors/2_8/AIRS_3_0_draft5_mod.xsd"/>
	
	<!-- HUD HMIS data integration specifications V2.8  -->
	
	<!-- MAIN -->
	
	<xsd:element name="SourceDatabase" type="hmis:sourceDatabase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	
	<!--GLOBAL DEFINITIONS - Importable Top Level Complex Types -->	
	
	<xsd:complexType name="address">
		<xsd:complexContent>
			<xsd:extension base="hmis:addressBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
	<xsd:complexType name="addressBase">
		<xsd:sequence>
			<xsd:element name="AddressPeriod" type="hmis:dateRangeOpen"/>
			<xsd:element name="PreAddressLine" type="hmis:string" minOccurs="0"/>
			<xsd:element name="Line1" type="hmis:string"/>
			<xsd:element name="Line2" type="hmis:string" minOccurs="0"/>
			<xsd:element name="City" type="hmis:string"/>
			<xsd:element name="County" type="hmis:string" minOccurs="0"/>
			<xsd:element name="State" type="hmis:string"/>
			<xsd:element name="ZIPCode" type="hmis:zIPCode" minOccurs="0"/>
			<xsd:element name="Country" type="hmis:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="date">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="dateRangeCapped">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="StartDate" type="hmis:dateTime" />
			<xsd:element name="EndDate" type="hmis:dateTime" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="dateRangeOpen">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="StartDate" type="hmis:dateTime" minOccurs="0"/>
			<xsd:element name="EndDate" type="hmis:dateTime" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dateTime">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:dateTime">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="decimal">
		<xsd:annotation>
			<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.1.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="degreeCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.13.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="hmis:degreeBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="dischargeStatus">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="hmis:dischargeBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="dOBHashingChoice">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Unhashed" type="hmis:date" minOccurs="0"/>
				<xsd:element name="Hashed" type="hmis:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="dVHowLong">
		<xsd:simpleContent>
			<xsd:extension base="hmis:dVHowLongBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="elevenVal">
		<xsd:simpleContent>
			<xsd:extension base="hmis:elevenValBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="email">
		<xsd:simpleContent>
			<xsd:extension base="hmis:emailBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="export">
		<xsd:sequence>
			<xsd:element name="ExportID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.2.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="ExportDate" type="hmis:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.2.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExportPeriod" type="hmis:dateRangeCapped" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.2.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SoftwareVendor" type="hmis:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SoftwareVersion" type="hmis:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="extension">
		<xsd:simpleContent>
			<xsd:extension base="hmis:extensionBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="fiveVal">
		<xsd:simpleContent>
			<xsd:extension base="hmis:fiveValBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="fiveValHashingChoice">
		<xsd:choice>
			<xsd:element name="Unhashed" type="hmis:fiveVal" minOccurs="0"/>
			<xsd:element name="Hashed" type="hmis:string" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="fourVal">
		<xsd:simpleContent>
			<xsd:extension base="hmis:fourValBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="hashingChoice">
		<xsd:choice>
			<xsd:element name="Unhashed" type="hmis:string50" minOccurs="0"/>
			<xsd:element name="Hashed" type="hmis:string" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="healthStatus">
		<xsd:simpleContent>
			<xsd:extension base="hmis:healthStatusBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="highestSchoolLevel">
		<xsd:simpleContent>
			<xsd:extension base="hmis:highestSchoolLevelBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="household">
		<xsd:complexContent>
			<xsd:extension base="hmis:householdBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="householdBase">
		<xsd:sequence>
			<xsd:element name="HouseholdID" type="hmis:id" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.14 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeadOfHouseholdID" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: IV.7.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Members" type="hmis:members" minOccurs="0"/>		
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="id">
		<xsd:choice minOccurs="1" maxOccurs="1">
			<xsd:element name="IDNum" type="hmis:integer">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IDStr" type="hmis:string32">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="member">
		<xsd:sequence>
			<xsd:element name="PersonID" type="hmis:hashingChoice"></xsd:element>	
			<xsd:element name="RelationshipToHeadOfHousehold" type="hmis:fourVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: IV.7.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="members">
		<xsd:sequence>
			<xsd:element name="Member" type="hmis:member" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="incomeAndSources">
		<xsd:sequence>
			<xsd:element name="Amount" type="hmis:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IncomeSourceCode" type="hmis:incomeSourceCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IncomeSourceOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.1. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="incomeSourceCode">
		<xsd:simpleContent>
			<xsd:extension base="hmis:incomeSourceCodeBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="integer">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="need">
		<xsd:sequence>
			<xsd:element name="NeedID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteServiceID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceEventID" type="hmis:id" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>See Data Integration Package Cumulative Overview, Section 3:VI.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NeedStatus" type="hmis:threeVal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3:VI.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Taxonomy" type="airs:tTaxonomy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="noYesPlus">
		<xsd:simpleContent>
			<xsd:extension base="hmis:noYesPlusBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>	
	
	<xsd:complexType name="otherNames">
		<xsd:sequence>
			<xsd:element name="OtherFirstName" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherMiddleName" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherLastName" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherSuffix" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="person">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: III.5.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PersonID" type="hmis:hashingChoice" >
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.12</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DateOfBirth" type="hmis:dOBHashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ethnicity" type="hmis:twoValHashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.4.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Gender" type="hmis:twoValHashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.5</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegalFirstName" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegalLastName" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegalMiddleName" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegalSuffix" type="hmis:hashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OtherNames" type="hmis:otherNames" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Race" type="hmis:fiveValHashingChoice" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.4.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SocialSecurityNumber" type="hmis:sSNHashingChoice" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="PersonHistorical" type="hmis:personHistorical" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: V.7.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteServiceParticipation" type="hmis:siteServiceParticipation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: IV.6.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReleaseOfInformation" type="hmis:releaseOfInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VII.12.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="personAddress">
		<xsd:complexContent>
			<xsd:extension base="hmis:personAddressBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
	<xsd:complexType name="personAddressBase">
		<xsd:complexContent>
			<xsd:extension base="hmis:addressBase">
				<xsd:sequence>
					<xsd:element name="IsLastPermanentZIP" type="hmis:twoVal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.9</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ZIPQualityCode" type="hmis:zIPQualityCode" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.9</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	

	<xsd:complexType name="personHistorical">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: V.8.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PersonHistoricalID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BarrierCode" type="hmis:tenVal" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.17</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BarrierOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.17. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChildCurrentlyEnrolledInSchool" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.17</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CurrentlyEmployed" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.12 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CurrentlyInSchool" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.13</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DegreeCode" type="hmis:degreeCode" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.13.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DegreeOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.13.  See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DevelopmentalDisability" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.4 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DomesticViolence" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.8 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DomesticViolenceHowLong" type="hmis:dVHowLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.8 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DueDate" type="hmis:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.15</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EmploymentTenure" type="hmis:threeVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.12</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HealthStatus" type="hmis:healthStatus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.14</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HighestSchoolLevel" type="hmis:highestSchoolLevel" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.13</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HIVAIDSStatus" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.5</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HoursWorkedLastWeek" type="hmis:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.12 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HUDChronicHomeless" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>See Data Integration Package Cumulative Overview, Appendix 1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HUDHomeless" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>See Data Integration Package Cumulative Overview, Appendix 1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="HUDHomelessEpisodes" type="hmis:dateRangeOpen" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IncomeAndSources" type="hmis:incomeAndSources" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LengthOfStayAtPriorResidence" type="hmis:fiveVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.8 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LookingForWork" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.12</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MentalHealthIndefinite" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.6 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MentalHealthProblem" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.6</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NonCashSourceCode" type="hmis:elevenVal" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.2.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NonCashSourceOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.2. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PersonAddress" type="hmis:personAddress" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PersonEmail" type="hmis:email" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PersonPhoneNumber" type="hmis:phoneNumber" minOccurs="0" maxOccurs="unbounded"/>		
			<xsd:element name="PhysicalDisability" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.3</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PregnancyStatus" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.15</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PriorResidence" type="hmis:residence" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.8 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PriorResidenceOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.8 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonForLeaving" type="hmis:elevenVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.11</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReasonForLeavingOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.11. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SchoolLastEnrolledDate" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.17</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SchoolName" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.17</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SchoolType" type="hmis:school" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.17</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubsidyOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.10. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubsidyType" type="hmis:subsidy" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.10</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="SubstanceAbuseIndefinite" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.7 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubstanceAbuseProblem" type="hmis:threeVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.7 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalIncome" type="hmis:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.1</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Veteran" type="hmis:veteran" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3.V.8.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VocationalTraining" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.13</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="phoneNumber">
		<xsd:simpleContent>
			<xsd:extension base="hmis:phoneNumberBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
			
	<xsd:complexType name="releaseOfInformation">
		<xsd:sequence>
			<xsd:element name="ReleaseOfInformationID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteServiceID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Documentation" type="hmis:fourVal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3:7.12.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EffectivePeriod" type="hmis:dateRangeOpen"/>
			<xsd:element name="ReleaseGranted" type="hmis:twoVal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3:7.12.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>			
	
	<xsd:complexType name="residence">
		<xsd:simpleContent>
			<xsd:extension base="hmis:residenceBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="school">
		<xsd:simpleContent>
			<xsd:extension base="hmis:schoolBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="serviceEra">
		<xsd:simpleContent>
			<xsd:extension base="hmis:serviceEraBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="serviceEvent">
		<xsd:sequence>
			<xsd:element name="ServiceEventID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HouseholdID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsReferral" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QuantityOfService" type="hmis:integer" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="QuantityOfServiceMeasure" type="hmis:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceAIRSCode" type="hmis:string50">	
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServicePeriod" type="hmis:dateRangeOpen">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.9 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="ServiceUnit" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TypeOfService" type="hmis:typeOfService">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.9 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="TypeOfServiceOther" type="hmis:string50" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.9 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="siteService">
		<xsd:complexContent>
			<xsd:extension base="airs:tSiteService">
				<xsd:sequence>
					<xsd:element name="SiteServiceID" type="hmis:id">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FIPSCode" type="hmis:string10">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.13 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FacilityCode" type="hmis:string10">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.13 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="COCCode" type="hmis:string5">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.13 </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SiteServiceType" type="hmis:siteServiceType">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SiteServiceTypeOther" type="hmis:string50" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">*Make sure it mentions why "other" is in there.  See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="IndividualFamilyCode" type="hmis:fourVal" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">This may not be in Documentation: See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TargetPopulation" type="hmis:string50" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SiteID" type="hmis:id" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A "Site" is, in AIRS XML parlance, the parent of a SiteService.  Check to make sure this is in doocumentation: See Data Integration Package Cumulative Overview, Section 3: II.4.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
	<xsd:complexType name="siteServiceParticipation">
		<xsd:sequence>
			<xsd:element name="SiteServiceParticipationID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Not at this location: See Data Integration Package Cumulative Overview, Section 3: IV.7.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SiteServiceID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HouseholdID" type="hmis:id" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.14 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="Destination" type="hmis:residence" minOccurs="0">	
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.10.</xsd:documentation>
				</xsd:annotation>	
			</xsd:element>	
			<xsd:element name="DestinationOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.10. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DestinationTenure" type="hmis:twoValPlus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.10.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DisablingCondition" type="hmis:noYesPlus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.7 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			<xsd:element name="ParticipationDates" type="hmis:dateRangeOpen">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.10 and 2.11</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VeteranStatus" type="hmis:noYesPlus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.6 </xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="PersonHistorical" type="hmis:personHistorical" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: V.8.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Need" type="hmis:need" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ServiceEvent" type="hmis:serviceEvent" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VI.11.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="siteServiceType">
		<xsd:simpleContent>
			<xsd:extension base="hmis:siteServiceTypeBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>	
	
	<xsd:simpleType name="siteServiceTypeBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Program Type Code
				1 = Emergency shelter (e.g. facility or vouchers)
				2 = Transitional housing
				3 = Permanent supportive housing
				4 = Street outreach
				5 = Homeless prevention 
				6 = Services only
				7 = Other 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="sourceDatabase">
		<xsd:annotation>
			<xsd:documentation>See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">					
			<xsd:element name="DatabaseID" type="hmis:id">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatabaseContactEmail" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatabaseContactExtension" type="hmis:extension" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatabaseContactFirst" type="hmis:string20" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatabaseContactLast" type="hmis:string20" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatabaseContactPhone" type="hmis:phoneNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DatabaseName" type="hmis:string50">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.1.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Export" type="hmis:export" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: I.2.</xsd:documentation>
				</xsd:annotation>					
			</xsd:element>
			<xsd:element name="SiteService" type="hmis:siteService" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: II.3.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Person" type="hmis:person" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: III.4.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Household" type="hmis:household" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Section 3: VIII.13.</xsd:documentation>
				</xsd:annotation>	
			</xsd:element>
		</xsd:sequence>	
	</xsd:complexType>
	
	<xsd:complexType name="sSNHashingChoice">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Unhashed" type="hmis:sSNumber" minOccurs="0"/>
				<xsd:element name="Hashed" type="hmis:string" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="SocialSecNumberQualityCode" type="hmis:twoValPlus">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Universal Data Element 2.2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="sSNumber">
		<xsd:simpleContent>
			<xsd:extension base="hmis:sSNumberBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="string">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="string5">
		<xsd:simpleContent>
			<xsd:extension base="hmis:string5Base">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="string10">
		<xsd:simpleContent>
			<xsd:extension base="hmis:string10Base">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="string20">
		<xsd:simpleContent>
			<xsd:extension base="hmis:string20Base">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="string32">
		<xsd:simpleContent>
			<xsd:extension base="hmis:string32Base">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="string50">
		<xsd:simpleContent>
			<xsd:extension base="hmis:string50Base">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="subsidy">
		<xsd:simpleContent>
			<xsd:extension base="hmis:subsidyBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="tenVal">
		<xsd:simpleContent>
			<xsd:extension base="hmis:tenValBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="threeVal">
		<xsd:simpleContent>
			<xsd:extension base="hmis:threeValBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="twoVal">
		<xsd:simpleContent>
			<xsd:extension base="hmis:twoValBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="twoValHashingChoice">
		<xsd:choice>
			<xsd:element name="Unhashed" type="hmis:twoVal" minOccurs="0"/>
			<xsd:element name="Hashed" type="hmis:string" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:complexType name="twoValPlus">
		<xsd:simpleContent>
			<xsd:extension base="hmis:twoValPlusBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="typeOfService">
		<xsd:simpleContent>
			<xsd:extension base="hmis:typeOfServiceBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="unsignedInt">
		<xsd:simpleContent>
			<xsd:extension base="xsd:unsignedInt">
				<xsd:attributeGroup ref="hmis:dateStampGroup"></xsd:attributeGroup>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="veteran">
		<xsd:sequence>
			<xsd:element name="ServiceEra" type="hmis:serviceEra" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MilitaryServiceDuration" type="hmis:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServedInWarZone" type="hmis:twoVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WarZone" type="hmis:tenVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WarZoneOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MonthsInWarZone" type="hmis:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReceivedFire" type="hmis:unsignedInt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MilitaryBranch" type="hmis:fiveVal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MilitaryBranchOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DischargeStatus" type="hmis:dischargeStatus" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DischargeStatusOther" type="hmis:string50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>HMIS Data and Technical Standards, July 30, 2004, Program-Specific Data Element 3.16. See also Section 5.1.3 for treatment of "other" elements.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="zIPCode">
		<xsd:simpleContent>
			<xsd:extension base="hmis:zIPCodeBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<xsd:complexType name="zIPQualityCode">
		<xsd:simpleContent>
			<xsd:extension base="hmis:zIPQualityCodeBase">
				<xsd:attributeGroup ref="hmis:dateStampGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<!--Attribute Groups-->
				
	<xsd:attributeGroup name="dateStampGroup">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.13.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="dateCollected" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.13.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dateEffective" type="xsd:dateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.13.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="dataCollectionStage" type="hmis:fourValBase" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">See Data Integration Package Cumulative Overview, Appendix 1.13.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>	
																																																																																																											
	<!--GLOBAL DEFINITIONS - Importable Top Level Simple Data Types-->
	
	<xsd:simpleType name="degreeBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Degree List
				0 = None
				1 = Associates Degree
				2 = Bachelors
				3 = Masters
				4 = Doctorate
				5 = Other graduate/professional degree
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="5"/>
		</xsd:restriction>
	</xsd:simpleType>	
	
	<xsd:simpleType name="dischargeBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Discharge List
		      		1 = Honorable
					2 = General
					3 = Medical
					4 = Dab conduct
					5 = Dishonorable
					6 = Other
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="6"/>
		</xsd:restriction>
	</xsd:simpleType>	
	
	<xsd:simpleType name="dVHowLongBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Domestic Violence How Long
				1 = Within the past three months
				2 = Three to six months ago
				3 = From six to twelve months ago
				4 = More than a year ago
				8 = Don't know
				9 = Refused
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="elevenValBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				elevenVal: Applicable to:
				Non Cash Source Code
		 			1 = Food stamps or money for food on a benefits card
					2 = MEDICAID Health Insurance Program (or local name)
					3 = MEDICARE Health Insurance Program (or local name)
					4 = State Children's Health Insurance Program (or local name)
					5 = Special Supplemental Nutrition Program for Women, Infants, and Children (WIC)
					6 = Veteran's Administration (VA) Medical Services
					7 = TANF Child Care services (or local name)
					8 = TANF Transportation services (or local name)
					9 = Other TANF-funded services (or local name)
					10 = Section 8, public housing, or other rental assistance
					11 = Other Source
				Reason for leaving
		  			1 = Left for a housing opportunitybefore completing program
					2 = Completed program
					3 = Non-payment of rent/occupancy charge
					4 = Non-compliance with project
					5 = Criminal activity/destruction of property/violence
					6 = Reached maximum time allowed by project
		      		7 = Needs could not be met by project
		      		8 = Disagreement with rules/persons
		      		9 = Death
		      		10 = Unknown/disappeared
		      		11 = Other
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
		
	<xsd:simpleType name="emailBase">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="extensionBase">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="fiveValBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				fiveval: Applicable to:
				Race: Values range from 1 to 5
				1 = American Indian or Alaskan Native
				2 = Asian
				3 = Black or African-American
				4 = Native Hawaiian or Other Pacific Islander
				5 = White 
				Military Branch
				1 = Army
				2 = Air Force
				3 = Navy
				4 = Marines
				5 = Other	
				Length of Stay at Prior Residence
				1 = One week or less
				2 = More than a week, but less than a month
				3 = One to three months
				4 = More than three months, but less than one year
				5 = One year or longer
			</xsd:documentation>
		</xsd:annotation>
		
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="fourValBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				fourVal: Applicable to:
				Individual/Family Code
				1 = Individuals
				2 = Families
				3 = Individuals and Families
				4 = Youth
				DataCollectionStage
				1 = Entry
				2 = During Program Enrollment
				3 = Exit
				4 = Followup
				RelationshipToHeadOfHousehold
				1 = Child
				2 = Spouse
				3 = Other family
				4 = Non-married partner
				Release of Information Documentation
				1 = Signed, Written Consent
				2 = Verbal Consent
				3 = Other Documentation
				4 = No Documentation
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="healthStatusBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">	
				HealthStatus
				1 = Excellent
				2 = Very good
				3 = Good
				4 = Fair
				5 = Poor
				8 = Don't know
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
			<xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
			<xsd:enumeration value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="highestSchoolLevelBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Highest School Level
				0 = No schooling completed
				1 = Nursery school to 4th grade
				2 = 5th grade or 6th grade
				3 = 7th grade or 8th grade
				4 = 9th grade
				5 = 10th grade
				6 = 11th grade
				7 = 12th grade, no diploma
				8 =  High school diploma
				9 = GED
				10 = Post-secondary school
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="incomeSourceCodeBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Income Source Code
					1 = Earned Income
					2 = Unemployment Insurance 
					3 = Supplemental Security Income or SSI
					4 = Social security Disability Income (SSDI)
					5 = A Veteran's Disabilitry Payment
					6 = Private Disability Insurance
					7 = Worker's Compensation
					8 = Temporary Assistance for Needy Families (TANF) (or local name)
					9 = General Assistance (GA) (or local name)
					10 = Retirement Income from Social Security
					11 = Veteran's Pension
					12 = "Pension from a former job
					13 = Child Support
					14 = Alimony or other spousal support
					15 = Other source
					16 = No financial resources
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="16"/>
		</xsd:restriction>
	</xsd:simpleType>			
	
	<xsd:simpleType name="noYesPlusBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				No Yes Plus
		    		0 = No
					1 = Yes
					8 = Don't know
					9 = Refused
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="phoneNumberBase">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[2-9][0-9]{2}[2-9][0-9]{2}[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="residenceBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">	
				Residence Type
				1 = Emergency shelter
				2 = Transitional housing
				3 = Permanent housing
				4 = Psychiatric hospital or other psychiatric facility
				5 = Substance abuse treatment facility or detox center
				6 = Hospital (non-psychiatric)
				7 = Jail, prison or juvenile detention facility
				8 = Don't know
				9 = Refused
				10 = Room apartment or house that you rent
				11 = Apartment or house that you own
				12 = Staying or living in a family member's room, apartment or house
				13 = Staying or living in a friend's room, apartment or house
				14 = Hotel or motel paid for without emergency shelter voucher
				15 = Foster care home or foster care group home
				16 = Place not meant for habitation
				17 = Other
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="schoolBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				School Category
				1 = Public school
				2 = Parochial or other private school
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="serviceEraBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Service Era List
				1 = Persian Gulf Era (August 1991 - Present)
				2 = Post Vietnam (May 1975 - July 1991)
				3 = Vietnam Era (August 1964 - April 1975)
				4 = Between Korean and Vietnam War (February 1955 - July 1964)
				5 = Korean War (June 1950 - January 1955)
				6 = Between WWII and Korean War (August 1947 - May 1950)
				7 = World War II (September 1940 - July 1947)
				8 = Between WWI and WWII (December 1918 - August 1940)
				9 = World War I (April 1917 - November 1918)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="sSNumberBase">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="string5Base">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="string10Base">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="string20Base">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="string32Base">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="string50Base">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="subsidyBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">	
				Subsidy type
				0 = None
				1 = Public Housing
				2 = Section 8
				3 = S + C
				4 = HOME program
				5 = HOPWA program
				6 = Other housing subsidy
				8 = Don't know
				9 =  Refused
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tenValBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				tenval: Applicable to:
				War Zone
				1 = Europe
				2 = North Africa
				3 = Vietnam
				4 = Laos and Cambodia
				5 = South China Sea
				6 = China, Burma, India
				7 = Korea
				8 = South Pacific
				9 = Persian Gulf
				10 =Other
				Barrier Code
				1 = None
				2 = Residency requirements
				3 = Availability of school records
				4 = Birth certificates
				5 = Legal guardianship requirements
				6 = Transportation
				7 = Lack of available preschool programs
				8 = Immunization requirements
				9 = Physical examination records
				10 = Other 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="10"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="threeValBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				threeVal: Applicable to:				
				Employment Tenure
				1 = Permanent
				2 = Temporary
				3 = Seasonal
				Export Hashing
				1 = No
				2 = Yes
				3 = Mixed
				Need Status
				1 = Logged
				2 = Lapsed
				3 = Met
				Substance Abuse Problem
				1 = Alcohol abuse
				2 = Drug abuse
				3 = Dually diagnosed
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="3"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="twoValBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">	
				twoVal: Applicable to:
				No/Yes Answer
				0 = No
				1 = Yes
				Gender
				0 = Female
				1 = Male
				Ethnicity
				0 = Non-Hispanic/Latino
				1 = Hispanic/Latino
				Service Unit
				0 = Entire household
				1 = Individual
				Hashing
				0 = No
				1 = Yes
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="0"/>
			<xsd:enumeration value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="twoValPlusBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				twoValPlus: Applicable to:
				Social Security Number Quality Code
				1 = Full SSN reported
				2 = Partial SSN reported
				8 = Don't know or don't have SSN
				9 = Refused
				Destination Tenure
				1 = Permanent
				2 = Transitional 
				8 =  Don't know
				9 =  Refused	
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="2"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="typeOfServiceBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Type of Service
				1 = Food
				2 = Housing placement
				3 = Material goods
				4 = Temporary housing and other financial aid
				5 = Transportation
				6 = Consumer assistance and protection
				7 = Criminal justice/legal services
				8 = Education
				9 = Health care
				10 = HIV/AIDS-related services
				11 = Mental health care/counseling
				12 = Substance abuse services
				13 = Employment
				14 = Case/care management
				15 = Day care
				16 = Personal enrichment
				17 = Outreach
				18 = Other
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="zIPCodeBase">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}(-[0-9]{4})?"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="zIPQualityCodeBase">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				ZIP Code Quality Code List
					1 = Full Zip Code Recorded.
					8 = Don't Know.
					9 = Refused.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="8"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>